/* Add your styles here for elements not in the shadow dom*/

.sprints-view {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    overflow-x: auto;
}
.sprint-grid-panel-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.sprint-grid-panel {
    background-color: var(--lumo-contrast-5pct);
    border-radius: 0 0 var(--lumo-border-radius-l) var(--lumo-border-radius-l);
    padding: 8px;
}

.sprint-header {
    padding: 16px 24px;
    background-color: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-l) var(--lumo-border-radius-l) 0 0;
    border-bottom: 2px solid var(--lumo-contrast-10pct);
}

.sprint-dates {
    display: block;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    margin-top: 4px;
}

.sprint-goal {
    display: block;
    font-style: italic;
    color: var(--lumo-secondary-text-color);
    margin-top: 8px;
}
